body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
}

#app {
  height: 100%;
  margin:0;
  overflow-x:hidden;
}

input,
select,
button,
label {
  box-sizing: border-box;
  height: 2.5em;
  font-size:medium;
}
